<% include partials/header.ejs %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">campgrounds</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%= campground.image %>">
				<div class="caption-full">
					<h4 class="pull-right">9.00$/night</h4>
					<h4><a><h1><%= campground.name %></h1></a></h4>
					<p><%= campground.description %></p>
				</div>
			</div>
		</div>
	</div>
</div>



<em><p>Created by <%= campground.author.username %></p></em>

<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
<p><a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a></p>
<form method="POST" action="/campgrounds/<%= campground._id %>?_method=DELETE">
	<button class="btn btn-danger" >Delete</button>
</form>
<% } %>



<% campground.comments.forEach(function(comment){ %>
	<p><strong><%= comment.author.username %></strong>--<%= comment.text %> </p>

<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
	<a class="btn btn-warning btn-xs" href="/campgrounds/<%= campground._id %>/comments/<%=comment._id               %>/edit">Edit</a>

<form id="show" action="/campgrounds/<%= campground._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
		<button class="btn btn-danger btn-xs">Remove</button>
</form>
<% } %>	
<% }) %>
<p><a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add More Comments</a></p>

<% include partials/footer.ejs %>
